---
layout: page
title:
description: "A platform to start or join open source software projects for the Sustainable Development Goals."
---
This open source collaboration initiative promotes collaboration between Academia, private sector, civil society, and governments to use open data and build open source software for the implementation of the Sustainable Development Goals adopted at the United Nations.

<a href="http://www.un.org/sustainabledevelopment">
    <img src="{{ site.baseurl }}/img/E_Logo_No UN Emblem-01.png" alt="Unite Open Source">
</a>
<span class="caption text-muted">ICT4SD supports the Sustainable Development Goals.</span>

<a class="btn btn-default" href="about" role="button">Learn more</a>
<hr>
<h2>News</h2>

  <!-- <div class="alert alert-info" role="alert">
    <a href="https://hangouts.google.com/hangouts/_/event/chkagh1tt59nj5gs8c9rksb9gds">
      News item here.
    </a>
  </div> -->

    <span class="caption text-muted">Enter the #SE4ALL challenge</span>
    <a href="https://unite.un.org/ideas/content/se4all-sustainable-energy-4-all">
    <img src="{{ site.baseurl }}/img/promos/SE4all_banner.png" alt="Unite Ideas">
    </a>
<hr>
<h1>Active projects</h1>

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>

    <!-- <p class="post-meta"> -->
    <div class="row">

      <div class="col-xs-3 col-md-2">
        {% if post.goal %}
          <img src="{{ site.baseurl }}/img/goals/E_SDG goals_icons-individual-rgb-{{post.goal}}.png" alt="SDG" width="100%">
        {% endif %}
      </div>

      <div class="col-xs-9 col-md-10">
      {% if post.partners %}
      Partners:<br>
        {% for each in post.partners %}
        <strong>{{ each.partner}}</strong><br>
        {% endfor %}
        {% else %}
        <strong>Looking for partners</strong>
      {% endif %}
      </div>

</div>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
